body{
	background-color: #000;
	color: #fff;
}
.wrapper{
	width: 300px;
	height: 300px;
	border: 1 px solid #ccc;
}
h1{
	font-size: 52px;
	line-height: 2em;
	display: block;
	border: 2px dashed #eee;
}
h2{
	font-size: 36px;
	line-height: 0;
	background-color: #fff;
}
.footer{
	font-size: 2rem;
	line-height: 1.5em;
	background-color: #cecece;
}